body{
    background-image: url(./pic/bg.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

canvas{
    background-image: url(./pic/canvasbg.jpg);
    width: 60%;
    height: 80%;
    left: 20%;
    position: absolute;
    border-radius: 20px;
    display: block;
}

*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#rad{
    position: absolute;
    width: 20%;
    height: 20%;
    top: 48%;
    bottom: 40%;
    left: 0%;
    background-color: transparent;
    display: inline-block;
    text-align:center;
}   

.radcontrol{
    width: 50%;
    height: 50%;
    background-color: #ad4646;
    display: inline-block;
    text-align: center;
    padding: 1%;
}

.type{
    position: absolute;
    width: 20%;
    height: 20%;
    top: 55%;
    bottom:auto;
    left: 0%;
    background-color: transparent;
    float: left;
    text-align:center;
    color: #fafafa;
}   
.type2{
    position: absolute;
    width: 20%;
    height: 20%;
    top: 60%;
    bottom:auto;
    left: 0%;
    background-color: transparent;
    float: left;
    text-align:center;
}   

#header{
    text-align: center;
    height: auto;
    position: absolute;
    left:10%;
    right: 10%;
    top: 5%;
    font-family: sans-serif;
    font-size: 400%;
    background-color: transparent;
}

#desk{
    position: absolute;
    right: 10%;
    left:  10%;
    top: 20%;
    bottom: 5%;
    background-color: transparent;
}

#toolkit{
    position: absolute;
    width: 20%;
    height: 48%;
    left: 0%;
    background-color: transparent;
}

.btn{
    width: 100%;
    height:100%;
    top: atuo;
    background-size: 50%;
    background-repeat:no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    text-align: center;
    color: #fafafa;
}

.row{
    width: 100%;
}

.color-size{
    position: absolute;
    width: 20%;
    height: 60%;
    left: 80%;
    background-color: transparent;
    border: 1px solid #000;
    text-align: center;
    border: none;
}

.swatches{
    width: 100%;
    height:100%;
    top: atuo;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: inset;
}


.radcontrol{
    width: 30px;
    height: 30px;
    background-color: rgb(110, 110, 110);
    display: inline-block;
    text-align: center;
}

.unredoload{
    position: absolute;
    width: 20%;
    height: 20%;
    top: 68%;
    left: 0%;
    background-color: transparent;
    float: left;
    text-align:center;
}

.btn1{
    width: 30%;
    height:50%;
    top: atuo;
    background-size: 80%;
    background-repeat:no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

#wipe{
    position: absolute;
    width: 20%;
    height: 20%;
    top: 60%;
    left: 80%;
    background-color: transparent;
    text-align:center
}

#btn2{
    width: 100%;
    height:100%;
    top: atuo;
    background-size: 40%;
    background-repeat:no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
}

#down{
    background-color:rgba(235, 190, 68, 0.562) ;
    font-size:25px;
    font-family:fantasy; 
    position : absolute;
    float: center;
    top:80%;
    left:45%;
    text-align:center;
}

#up{
    padding: 4px 10px;
    height: 50%;
    line-height: 20px;
    position: relative;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    *display: inline;
    *zoom: 1
}
#up input{
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    top: 0;
    right: 0;
    width:100%;
    height:100%;
    background-color: aqua;
}